.App {
  text-align: center;
}

.table-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  margin: 1rem;
}

table {
  padding: 1rem;
  border-collapse: collapse;
  margin: 1rem;
}

td,
th {
  padding: 1rem;
  text-align: left;
  vertical-align: middle;
}

tr {
  padding: 1rem;
  /* border-bottom: 1px solid; */
}

.actions-top input[type="text"] {
  padding: 8px;
  font-size: 1.2rem;
  width: 40%;
}

.actions-top {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.pagination {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.pagination button {
  padding: 0.5rem 0.75rem;
  border-radius: 50%;
  border: 0;
  font-size: 1rem;
}

.page-number {
  cursor: pointer;
}

.current-pagenumber {
  background-color: rgb(93, 193, 233);
  color: black;
}
