:root{
  --primary-color: #3f51b5e3;
  --primary-light: #5f6ebe36;
}

.App {
  text-align: center;
}

.table-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  margin: 1rem;
}

table {
  padding: 1rem;
  border-collapse: collapse;
  margin: 1rem;
}

td,
th {
  padding: 1rem;
  text-align: left;
  vertical-align: middle;
}

tr {
  padding: 1rem;
}

.table-inline-actions {
  display: flex;
  gap: 1rem;
}

.actions-top input[type="text"] {
  padding: 8px;
  font-size: 1.2rem;
  width: 40%;
}

.actions-top {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.pagination {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.pagination button {
  padding: 0.5rem 0.75rem;
  border-radius: 50%;
  border: 0;
  font-size: 1rem;
}

.page-number {
  cursor: pointer;
}

.current-pagenumber {
  background-color: var(--primary-color);
  color: white;
}

.btn-icon {
  background: transparent;
  border: 0;
  padding: 0.5rem;
  cursor: pointer;
  color:var(--primary-color)
}

.row-selected{
  background-color: var(--primary-light);
}
